<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h2>Welcome to Student Score Management System！</h2>
<br/>
<h3>请选择您所需要进行的操作</h3>
<a href="/exerciseQuery" class="btn btn-info">考试查询</a>
<a href="/exerciseCreate" class="btn btn-info">考试创建</a>
<a href="/studentList" class="btn btn-info">学生查询</a>
</body>
</html>